= form_for @page, url: page_create_path do |f|
  .row
    .large-12.columns
      = f.text_field :facebook_page_id, placeholder: '(example: 343449308540985)'

  .row
    .large-8.large-centered.columns
      = f.submit 'Add', class: 'button [radius round] expand'
