.row
  .large-12.columns
    %h1 Page Fetcher

.row
  .large-12.columns
    = render 'form'

/ Render the feed here
.row
  .large-12.columns{ role: 'content' }
    - if @pages.size > 0
      - @pages.each do |page|
        .row
          .large-2.columns
            = link_to image_tag(page.facebook_page_image_url), page_path(page)

          .large-10.columns
            %h3
              = link_to page.name, page_path(page)
    - else
      %h2
        No pages have been saved yet!
